/*default element styling*/
body{

}
p + p {
  margin-top: 75px;
}
a {
  cursor: pointer;
}

/*page nav*/
#page_nav_container{
  width: 100%;
  z-index: 500;
}
#page_nav_container a {
  color: white;
}



#page_top.top-nav {/* Old browsers */
  flex-direction: row;
  color: white;
  position: relative;
  height: 64px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  z-index: 200;
}
#page_top .right-section,
#page_top .left-section {
  height: 100%
}
#page_top .right-section > div {
  padding: 0 30px;
  cursor: pointer;
}
#page_top .left-section > div {
  padding: 0 15px;
}
#page_top .left-section .menu {
  padding: 17px;
}
#page_top .left-section .site-name {
  font-size: 16pt;
}



#page_top .contact .main-contact-button {
  background-color: #cacaca;
  border-radius: 10px;
  padding: 3px;
}
#page_top .contact .main-contact-button .button-outline {
  padding: 5px 10px;
  border-radius: 7px;
  border: 2px solid #7ef9ff;
  color: #757575;
}




/*left side navigation */
.left-nav-wrap {
  width:70px;
  height: 1px;
  position: absolute;
  left:-10px;
  transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.left-nav-wrap.collapsed {
  left:-70px;
}
.left-nav-wrap .left-nav {
  height: calc(100vh - 64px);
  box-shadow: inset -2px 0px 8px rgba(0,0,0,.5);
  background-color: #d0d0d0;
}
.left-nav ul.options{
  margin: 0;
  padding: 10px 0 10px 10px;
  opacity: 1;
  transition: padding-top 0.3s, opacity 0.4s;
}
.left-nav ul.options li {
  text-align: center;
  padding: 10px 0;
}
.left-nav ul.options li i {
  font-size: 30pt;
}
.left-nav-wrap.collapsed ul.options {
  padding-top: 30px;
  opacity: 0;
}
