/*main styles*/
.page-main {
  overflow-y: scroll;
  max-height: calc(100vh - 64px);
}
.main-content {
  background-color: #fafafa;
}
.section {
  width: 85%;
  margin: 0 auto
}
.section .section-header {
  font-size: 2rem;
  font-weight: bold;
}
.section .section-content {
  width: 95%;
  margin: 0 auto;
}
#about_me.section .section-content  {
  display: flex;
  flex-direction: row;
}
.section .section-content div {
  font-size: 1rem;
  line-height: 20pt;
  padding: 0 15px;
}
.section .section-content a {
  cursor: pointer;
}
.section .section-content ul,
.section .section-content ol {

}
.section .section-content li {

}

/*specific components*/
/*languages cards*/
#experience .lang-sec-header {
  font-size: 20pt;
  color: grey;
  padding: 10px 0;
}
#experience .lang-card-rows .row{
}
#experience .lang-cards .card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}
#experience .lang-cards .card .card-image img {
  height: 60px;
  width: 60px !important;
  margin: 10px;
}
#experience .lang-cards .card .card-content {
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}
#experience .lang-cards .card .card-content > div {
  margin: 5px 0;
}
#experience .card .lang-rate {
  position: relative;
  letter-spacing: 0px;
  display: inline;
}
#experience .card .lang-rate i.fa-star.back:before{
  content: "\f005\f005\f005\f005\f005"
}
#experience .card .lang-rate i.fa-star.back {
  left: 0;
  color: #cfcccf;
}
#experience .card .lang-rate .rating {
  position: absolute;
  left: 0;
  top:2px;
}
#experience .card .lang-rate .rating i {
  color: #ffc207;
}
